<h1>All my puppiezzz</h1>

<div id="puppies_container"></div>

<!--
NOTE: You DON'T need to put all data on the page using Javascript!
This is just an example. You can add classes/IDs to your ERB code
and reference them from Javascript with the exact same results.
-->

<script>
  // Get JSON data from /puppies. When done, run the enclosed function
  // with the resulting data, which will be passed as the first parameter
  // of the function.
  $.getJSON('/puppies', function(puppies){

    // Now we're inside the function that's called when data is
    // received from the function. In JS this is called a 'callback'.

    // Debugging: show data received from the server in the console
    console.log(puppies);

    // Get the container element by id
    var $container = $('#puppies_container');

    // Iterate over the results, in this case an array containing
    // hashes with informations about each puppy.
    for (var i = 0; i < puppies.length; i++) {

      // Add puppies to the container, including identifying data
      // that will be used in the click action below.
      $container.append(
        '<h2>' +
          puppies[i].name + ' ' +
          'cuteness: <span id="cute_' + puppies[i].id + '">' + puppies[i].cuteness_level + '</span>' +
        '</h2>' +
        '<p><a href="#" data-cuteid=' + puppies[i].id + '>increase cuteness</a></p>'
      );

    }

    // Now we're capturing the 'click' action on all links inside
    // <div id="puppies_container">
    // The first parameter of the callback (ev) is the click event itself
    $('#puppies_container a').on('click', function(ev){

      // This prevents the default action that happens
      // when a link is clicked
      ev.preventDefault();

      // Now we get information from the link that was clicked
      // We've added a data-cuteid parameter to the <a> tag above
      // containing the id of the puppy object. We use it to capture
      // the <span> tag containing the cuteness level.
      var cuteness_id = $(this).data('cuteid');
      var $cuteness = $('#cute_' + cuteness_id);
      var level = Number($cuteness.text());

      // Increase cuteness level and update display
      level++;
      $cuteness.text(level);

      // Now we build a JS object to send as JSON to the server
      // to update the database
      var cuteness_update = {
        id: cuteness_id,
        cuteness_level: level
      }

      // This posts the JS object as JSON to the server and
      // logs the response to the console.
      $.post(                          // $.post takes 4 parameters:
        'puppies/increase_cuteness',   // URL
        cuteness_update,               // data
        function(result){              // callback function
          console.log(result);
        },
        'json'                         // data format (optional)
      );

    })
  });
</script>
