<h1><%= @user.first_name %>'s tune</h1>

<% if @tune %>
  <h2><%= @tune.artist %> - <%= @tune.title %></h2>
  <p><%= @tune.comments %></p>
<% else %>
  <p>Sorry, I couldn't find this tune!</p>
<% end %>

<hr>
<p><a href="/tunes">Go back</a></p>
