<section id="container">
	<h2>Send in the Clowns</h2>

	<button id="getClowns">Get Clowns!</button><br>
	<button id="makeClown">Add a Clown</button>

	<section id="results" class="hide">
		<table id="clowns">
			<thead>
				<tr>
					<th>Clown Name</th>
					<th>Hair Colour</th>
					<th>Gimmick</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</section>
</section>
